@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 16px;
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size:contain;
}

main{
    min-width: 375px;
    max-width: 449px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow: 0 0 4px black;
    border-radius: 0px 0px 25px 25px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 1 1 4px black;
}

.titulo {
    color: hsl(223, 47%, 23%);
    display: flex;
    justify-content: center;
    font-family:'Red Hat Display', sans-serif;
    margin-top: 40px;
    font-size: x-large;
}

.subtitulo{
    display: flex;
    justify-content: center;
    font-family:'Red Hat Display', sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

.plano{
    display: flex;
    justify-content: center;
    font-family:'Red Hat Display', sans-serif;
    font-size: small;
    margin-top: -47px;
    margin-right: 90px;
    color: hsl(223, 47%, 23%);
    font-weight: bolder;
}

.planoimg{
    display: flex;
    justify-content: center;
    margin-right: 250px;
}

.pimg{
    display: flex;
    justify-content: center;
    
}

.plano-valor{
    display: flex;
    justify-content: center;
    font-family:'Red Hat Display', sans-serif;
    font-size: 12px;
    margin-top: 3px;
    margin-right: 90px;
    color: hsl(224, 23%, 55%);
    font-weight: bolder;
    
}

.mudar{
    display: flex;
    justify-content: center;
    font-family:'Red Hat Display', sans-serif;
    font-size: 12px;
    margin-top: -26px;
    margin-left: 240px;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

.back{
    background-color: hsl(225, 100%, 98%);
    margin: auto;
    padding: 30px;
    min-width: 20px;
    height: 100px;
    max-width: 330px;
    border-radius: 5px 5px 5px 5px;
}

.botao1{
    display: flex;
    justify-content: center;
    box-shadow: 1 1 4px black;
}

.btn{
    width: 330px;
    height: 50px;
    font-weight: bold;
    background-color: hsl(245, 75%, 52%);
    margin-top: 30px;
    border: 0px solid;
    border-radius: 10px;
    color: white;
    font-family:'Red Hat Display', sans-serif;
}

.botao2{
    display: flex;
    justify-content: center;
    
}

.btn2{
    width: 300px;
    height: 50px;
    font-weight: bold;
    background-color: transparent;
    border: 0px transparent;
    border-radius: 10px;
    color: hsl(245, 75%, 52%);
    font-family:'Red Hat Display', sans-serif;
}

.attribution{
    font-family:'Red Hat Display', sans-serif;
}

